[user]
	email = pranavgade20@gmail.com
	name = Pranav Gade

[core]
	editor = vim
	autocrlf = input
[http]
	postBuffer = 524288000
[alias]
	s = status
	p = push
	a = add *
	c = commit -m 'commit message'
	all = !git a && git c && git p
